spring:
  application:
    name: users
  datasource:
    url: jdbc:postgresql://db.hwcirxykymtcakpdevzx.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
server:
  port: 8081
