spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD} 
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 15

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE

jwt:
  key: ${JWT_SECRET_KEY}

server:
  port: 8081