.add-project-card-component{
    width: 70vw;
    height: fit-content;
    
    justify-content: center;
    align-items: center;
    
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;

}

.component__header{
    width: fit-content;
    height: fit-content;

    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: whitesmoke;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__body{
    width: 100%;
    height: fit-content;

    padding: 10px;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr auto;
}

.body__form{
    width: 100%;
    height: fit-content;
}

.form__field{
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.form__field label{
    font-size: 1.5rem;
    align-content: center;
}

.form__field input{
    background-color: black;
    border: 2px solid #FF6971;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: whitesmoke;
}

.body__button{
    width: fit-content;
    height: fit-content;

    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
    font-size: 1rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: font-size 0.2s ease;
}

.body__button:hover{
    font-size: 1.1rem;
    box-shadow: 0 0 10px #FF6971;
}