.sidebar{
    width: 12vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(0, 0, 0, 0.7);
    border-right: 3px solid #845EC2;
    transition: width 0.3s ease;
}

.sidebar--open{
    width: 12vw;
}

.sidebar--closed{
    width: 0vw;
}

.sidebar__content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: transparent;
    
    overflow: hidden;
}

.sidebar__border{
    width: 0vw;
    height: 100%;

    display: flex;
    align-items: center;

}

.sidebar__border__button{
    max-width: fit-content;
    height: 130px; ;
    
    position: relative;
    left: -10px;
    
    background-color: #845EC2;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: margin-left 0.3s ease;
}

.sidebar__border__button--open{
    margin-left: 0px;
}

.sidebar__border__button--closed{
    margin-left: 10px;
}
