.LOW{
    width: fit-content;
    height: fit-content;
    
    padding: 5px 5px;
    
    background-color: green;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

.MEDIUM{
    width: fit-content;
    height: fit-content;
    
    padding: 5px 5px;
    
    background-color: orange;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

.HIGH{
    width: fit-content;
    height: fit-content;
    
    padding: 5px 5px;
    
    background-color: red;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}