.sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
    border-right: 3px solid #845EC2;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.sidebar--open{
    width: 200px;
}

.sidebar--closed{
    width: 0px;
}

.sidebar__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.sidebar__button{
    max-width: fit-content;
    height: 130px; ;
    border-radius: 10px;
    background-color: #845EC2;
    color: black;
    cursor: pointer;
    transition: margin-left 0.3s ease;
    position: relative;
    left: 13px;
}
