.add-user-card-component{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__body{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__input{
    width: 100%;
    height: fit-content;
}

.body__input input{
    width: auto;
    height: auto;

    margin-left: auto;

    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

.component__footer{
    width: 100%;
    height: auto;

    padding: 10px;
    justify-content: center;
}

.footer__submit-button{
    width: fit-content;
    height: fit-content;

    background-color: black;
    color: whitesmoke;
}

