*{
    color: white; 
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/images/Background.png');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}