.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-bottom: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
}