.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 0px; 
  gap: 28px;
  width: 100%;
  height: 100%;
  min-height: 100vh; 
  box-sizing: border-box;
}


.logo-title {
  width: 100%;
  max-width: 600px;
  display: block;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 18px rgb(0,0,0,0.7);
  background-color: rgb(0,0,0,0.7);
}

.login-container p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 0 18px rgb(0,0,0,0.7);
  background-color: rgb(0,0,0,0.7);
}


.form-card {
  padding: 28px;
  border-radius: 16px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  box-shadow: 0 0 28px rgb(0,0,0,0.7);
  background-color: rgb(0,0,0,0.7);

  margin: 0 auto;
  box-sizing: border-box;
}

.form-card h2 {
  margin: 0;
  font-size: 1.6rem;
  background: transparent;
  color: whitesmoke;
  text-align: center;
}

.form-card input {
  background-color: black;
  border: 2px solid #FF6971;
  border-radius: 10px;
  padding: 12px 14px;
  font-size: 1rem;
  color: whitesmoke;
}

.form-card input::placeholder {
  color: whitesmoke;
}

.form-card input:focus {
  outline: none;
  box-shadow: 0 0 10px #FF6971;
}

.form-card button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
  color: black;
  transition: font-size 0.2s ease;
}

.form-card button:hover {
  font-size: 1.25rem; 
  box-shadow: 0 0 10px #FF6971;
}


@media (max-width: 480px) {
  .form-card {
    padding: 22px;
  }

  .login-container p {
    padding: 10px;
  }

}

footer{
  width: 100%;
  text-align: left;
  background-color: black;
  color: whitesmoke; 
  font-weight: 300;
  padding: 12px 20px;
  margin-top: auto; 
  box-sizing: border-box;
  border-radius: 0; 
  box-shadow: 0 0 30px black;
}

.active-warning {
  color: #FF6961;
  text-align: center;
  font-size: 0.85rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inactive-warning {
  display: none;
}