.component{
    width: 1200px;
    height: fit-content;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__header{
    margin-bottom: 10px;
}

.component__header__author{
    width: 100%; 
    
    font-weight: bold;
    font-size: 1.5rem;
}

.component__header__created-at{
    width: 100%

    font-size: 1rem;
    color: whitesmoke;
}