.profile-page{
    width: 100%;
    height: 100%;

}

.profile-page__body{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}