:host{
    display: block;
    height: 100vh;
    width: 100vw;
    min-height: 0;
}

.profile-page{
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
}

.profile-page__body{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-content: center;
}