:host{
    display: block;
    height: 100%;
    min-height: 0;
}

.content-view-component{
    height: 100%;
    min-height: 0;
    padding: 20px;
}

.scroll-component{
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.component__element{
    height: 100%;
    min-height: 0;
}
