:host{
    display: block;
    height: 100%;
    min-height: 0;
}

.content-view-component{
    height: 100%;
    min-height: 0;
    overflow: hidden;
    padding: 20px;
}

.component__element{
    height: 100%;
    min-height: 0;
}
