<div class="profile-view__header">
    Il tuo profilo utente
</div>

<div class="profile-view">
    <div class="profile-view__body">
        <form id="profileForm" class="body__form" [formGroup]="profileForm" (submit)="sendChanges()">
            <div class="form__field">
                <label for="name">Nome: </label>
                <span>{{ this.authStore.name() }}</span>
            </div>
            <div class="form__field">
                <label for="surname">Cognome: </label>
                <span>{{ this.authStore.surname() }}</span>
            </div>
            <div class="form__field">
                <label for="email">Email: </label>
                @if (!isEditing()){<span>{{ this.authStore.email() }}</span>}
                @else {<input type="email" formControlName="email" name="email">}
            </div>
            <div class="form__field">
                <label for="password">Password: </label>
                @if (!isEditing()){<span>{{ this.authStore.password() }}</span>}
                @else {<input type="password" formControlName="password" name="password">}
            </div>
            <div class="form__field">
                <label for="role">Ruolo: </label>
                <span>{{ this.authStore.role() }}</span>
            </div>
        </form>
    </div>
    <div class="profile-view__footer">
        <button class="footer__button" [ngClass]="isEditing() ? '' : 'footer__button--hidden'" (click)="deactivateEditMode()">Annulla</button>
        <button class="footer__button" [ngClass]="!isEditing() ? '' : 'footer__button--hidden'" (click)="activateEditMode()">Modifica</button>
        <button type="submit" form="profileForm" class="footer__button" [ngClass]="isEditing() ? '' : 'footer__button--hidden'">Conferma</button>
    </div>
</div>
