spring:
  application:
    name: bugboard
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

jwt:
 key: ${JWT_SECRET_KEY}

users-service:
    url: http://localhost:8081