.component{
    height: fit-content;
    
    flex: 1;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__header{
    padding: 10px;
    
    display: flex;
    flex-direction: row;
}

.component__body{
    height: fit-content;
    
    flex: 1;

    display: flex;
    flex-direction: row;
}

.button{
    
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}