:host{
    display: block;
    height: 100%;
    min-height: 0;
}

.component{
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.component--hidden{
    display: none;
}

.component__header{
    width: fit-content;
    height: fit-content;

    background-color: rgb(0, 0, 0, 0.7);
    font-weight: 900;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

.component__header__title{
    padding: 10px;
}

.component__header__title:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #FF6347;
}

.component__body{
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.component__body__issue-events{
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding-left: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}