.navbar{
    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 3px solid #845EC2;
    background-color: rgb(0, 0, 0, 0.7);
}

.navbar__button{
    width: fit-content;
    height: fit-content;

    margin: 10px;
    padding: 10px;

    background: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.navbar__button:hover{
    font-size: 1.1rem;
}