.input{
    background-color: black;
    color: whitesmoke;
    outline: none;
}

.component{
    height: fit-content;

    padding: 10px;
    flex: 1;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.component__header__author{
    font-weight: bold;
    font-size: 1.5rem;
}

.component__header__labels{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.component__body{
    margin-bottom: 10px;
}

.footer__button{
    width: fit-content;
    height: fit-content;

    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.footer__button--hidden{
    visibility: hidden;
    pointer-events: none;
    cursor: default;
}
