.issues-filters-component{
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__header{
    width: 100%;
    height: fit-content;
}

.component__body{
    width: 100%;
    height: 100%;
}

.body__filtersForm{
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.form__filter{
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.form__filter label{
    width: fit-content;
    height: fit-content;
}

.form__filter select{
    background-color: black;
    border: 2px solid #FF6971;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.component__footer{
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.footer__button{
    width: fit-content;
    height: fit-content;

    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
    cursor: pointer;
    color: black;
    font-weight: bold;
}