.user-card-component{
    width: 100%;
    height: fit-content;
    
    padding: 10px;
    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__body{
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.body__left{
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

.left__anagrafic-info{
    font-size: 1rem;
    font-weight: bold;
}

.body__right{
    width: 100%;
    height: 100%;
}

.right__button{
    width: fit-content;
    height: 100%;

    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #845EC2, #FF6971, #F9F871);
    font-size: 1rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: font-size 0.2s ease;
}

.right__button:hover{
    font-size: 1.1rem;
    box-shadow: 0 0 10px #F9F871;
}
