.user-card-component{
    width: auto;
    height: fit-content;
    
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}