.component{
    width: 100%;
    height: fit-content;
    
    flex: 1;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.component__body{
    height: fit-content;
    
    flex: 1;

    display: flex;
    flex-direction: row;
}

.component__footer{
    display: flex;
    flex-direction: row;

    margin-left: auto;
}

.comment-input{
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

.comment-button{
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

