:host{
    display: block;
    height: 100vh;
    overflow: hidden;
}

.home{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.main-view{
    --sidebar-width: 200px;

    height: 100%;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    
    transition: grid-template-columns 0.3 ease;
}

.main-view.closed{
    --sidebar-width: 0px;
}

app-sidebar, app-content-view{
    height: 100%;
    min-height: 0%;
}