.home{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.main-view{
    height: calc(100vh - 60px);
    width: 100%;
    
    display: flex;
    flex-direction: row;
}