.main-view{
    height: calc(100vh - 60px);
    width: 100%;
    
    
    display: flex;
    flex-direction: row;
}

.project-view{
    flex: 1;
    padding: 20px;
    background: transparent;
    color: white;
}
