.TODO{
    width: fit-content;
    height: fit-content;

    padding: 5px 5px;
    
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

.PENDING{
    width: fit-content;
    height: fit-content;

    padding: 5px 5px;
    
    background-color: orange;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

.DONE{
    width: fit-content;
    height: fit-content;

    padding: 5px 5px;
    
    background-color: green;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}