.component{
    height: fit-content;

    flex: 1;
}

.component--hidden{
    display: none;
}

.component__body{
    flex: 1;
    height: fit-content;

    padding: 10px
}

.comment-input{
    width: 100%;

    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

.comment-input:focus{
    border-width: 3px;
    border-color: #FF6971;
}

.component__footer{
    height: fit-content;

    flex: 1;
    display: flex;
}

.comment-button{
    margin-left: auto;

    background-color: black;
    color: whitesmoke;
}